.main_container{

    width: 100%;
    background-color: rgb(227 233 225);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_container{
    width: 50%;
    border: 2px solid #9b9889;
    padding: 2%;
}
