
.side_nav{
  padding: 1rem;
  height: 4rem;
  background-color: #419197;
  cursor: pointer;
}
.side_nav :hover{
  font-weight: 700;
}
.sidebar {
  position: fixed;
  z-index: 1000;
    width: 15rem;
    background-color: #EBE4D1;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    height: 100%;
  }

 .logout_btn.btn.btn-primary{

  width: 60px;
  height: 30px;
  padding-bottom: 2%;
  padding: 0;
 }
  
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .sidebar li:hover {
    color: #040c03;
    font-weight: 600;
  }
  

  .free_space{
    width: 100%;
    background-color:transparent;
    height: 100vh;
  }

  .main_sidebar{
    display: flex;
     height: 100rem ;
    width: 100%;
    position: absolute;
    z-index: 50009;
  }

  .side_content{
    margin:1rem;
    
    height: 70%;
    
  }
  .side_content li {
    height: 4rem;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Add a bottom border to each list item */
  }
