
.main_div {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  align-items: center;

  flex-direction: column;
 /* padding: 5% 5% 2% 5%; */
 padding: 5%;
  width: 100%;
  height: 100vh;

  /* background-color: rgb(163, 163, 46); */

  /* background-image: url("https://img.freepik.com/free-vector/social-media-marketing-mobile-phone-concept_23-2148431745.jpg?w=740&t=st=1696861163~exp=1696861763~hmac=f33e410b2a31126e0beee3080d5351018775ec204469c56e79b46f226661b7de"); */
  background-position: center;
background-repeat: no-repeat;
  /* background-size: cover; */
}
.btns{
  margin-top: 5%;
  /* background-color: blueviolet; */
  padding: 0 20% 0 20%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
