.store_main_container{
    display: flex;
    

    
    
   
}

.sidebar_main{
   border: 1px solid #e0e0e0;
   border-radius: 24px;
    margin: 2%;
   padding: 1%;
    width: 20%;
    height: 500px;



}
.card{
    width: 15rem !important;
    margin-bottom: 5rem;
}
.list_container{
    /* margin: 3%; */
    padding: 5%;
    width: 80%;
    height: auto;

    /* background-color: aqua; */


    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row; */

    
}

#cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 5%;
    margin: 2%;
    

    width: 100%;
    flex-wrap: wrap;
    
   

}
/* .fruits_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 5%;
    
    margin: 2%;
    

    width: 100%;
    flex-wrap: wrap;
    
}
.Vegitables_div{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 5%;
    
    margin: 2%;
    

    width: 100%;
    flex-wrap: wrap;


}
 .Meat_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 5%;
    margin: 2%;
    

    width: 100%;
    flex-wrap: wrap;

}
 .Fish_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 5%;
    margin: 2%;
    

    width: 100%;
    flex-wrap: wrap;

}
.Bakery_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 5%;
    margin: 2%;
    

    width: 100%;
    flex-wrap: wrap;

}  */
