@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;');

*:before,
*:after {
    box-sizing: inherit;
}
:root{
    --clr-bg: #cc8181;
    --clr-primary: rgb(138, 28, 21);
    --clr-secondary: rgba(236, 38, 24, 0.62);
}
.Main_div {
    min-height: 100vh;
    display: flex;
    font-family: 'poppins', Arial;
    justify-content: space-evenly;
    align-items: start;
    column-gap: 40px;

    background-repeat: no-repeat;
    /* background-color: #088395; */

    overflow: hidden;
    margin: 2%;
    /* padding: 0% 2% 0 53%; */

}
.subscription-form {

    
    margin-top: 7%;
    padding-top: 1rem;
    min-width: 350px;
    text-align: center;
    background-color:#cfc6e9;
    box-shadow: 10px 10px rgb(228, 213, 213) ;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 32px 64px;
    height: 22rem;
}
  
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
h2 span{
    color: var(--clr-primary);
}
.input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 3rem;
}

  
button[type="submit"] {
    padding: 10px 20px;
    background-color: #FFF8C9;
    color: rgb(116, 104, 104);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .25s ease-in;
}
  
button[type="submit"]:hover {
    background-color: #088395;
    color: #F0F0F0;
}
.str_login_btn{
    padding: 10px 20px;
    background-color: #96B6C5;
    color: rgb(240, 245, 235);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .25s ease-in;

}
  
.str_login_btn :hover{

    background-color: var(--clr-secondary);

}
.btns{
    display: flex;

}
.image_div{
   

    background-color: #e96214;
}